*{
    border: solid red 1px;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: bisque;
    flex:1;
    max-height: 5%;
}

.main-body{
    background-color: rgb(175,255,255);
    flex:1;
}

.footer{
    background-color: rgb(175,175,255);
    flex:1;
    max-height: 7%;
}