/* *{
    border: solid red 1px;

}   */
@import url('https://fonts.cdnfonts.com/css/classy-vogue');

html {
    background-color: #e6e1d5;
    scroll-behavior: smooth;
    font-family: 'Classy Vogue', sans-serif;
}
#home-link{
    height: 80px;
}

#essay-heading-link{
    height: 80px;
}

.logo {
    min-width: 200px;
    min-height: 200px;
    max-width: 201px;
    max-height: 201px;
    align-self: center;
    border: solid black 1px;
    border-radius: 100%;
    margin: 10px;
}

.heading {
    color: #8f4031;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;

}

/* Make header sticky */
.header {
    background-color: #8f4031;
    padding: 10px 10px;
    padding-right: 20px;
    margin: 0;
    z-index: 3;
}


#myHeader {
    position: sticky;
    top: 0;
}

.main-body {
    background-color: #e6e1d5;
    flex: 1;
    max-width: 81%;
    min-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer {
    background-color: #8f4031;
    flex: 1;
    max-height: 89px;
    min-height: 90px;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #8f4031;
    opacity: 0%;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e6e1d5;
    border: solid #8f4031 0.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



/* Dropdown menu */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    background-color: #e6e1d5;
    transition: 1s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/* Dropdown bars */
#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
}

.bars {
    width: 100%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

#bar2 {
    transition-duration: .8s;
}

#bar1 {
    width: 50%;
}

#bar2 {
    width: 75%;
}

#checkbox:checked+.toggle .bars {
    position: absolute;
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .1s;
}

#checkbox:checked+.toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
}

/* Download button styling */
.catalogue-download{
    padding:0;
    max-width: fit-content;
    padding: 10px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #8f4031;
    border-radius: 10px;
    
}

.download-btn{
    text-decoration: none;
    color:#e6e1d5;
    
}

.catalogue-download:hover{
    transform: scale(1.2);
    transition:ease-in-out 0.5s;
}

.catalogue-download:not(:hover){
    transform: scale(1);
    transition:ease-in-out 0.5s;
}

/* Contact Card */
.contact-container{
    background-color: white;
    border-radius: 100px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.social-button{
    display: flex;
    margin:20px;
    border-radius: 100%;
    padding:10px;
    align-content: center;
    justify-content: center;
}

a > img{
    align-self: center;
}
.social-button.instagram{
    margin:20px;
    background-color: #d62976;
}

.social-button.telephone{
    margin:20px;
    background-color: #0f402e ;
}

.social-button.mail{
    margin:20px;
    background-color: #3e65cf;
}

.social-button:hover{
    transform: scale(1.1);
    transition: 0.2s;
    box-shadow: 2px 2px 2px 2px;
}

.social-button:not(:hover){
    transform: scale(1.0);
    transition: 0.2s;
}
